release/
.laya/launch.json
.laya/settings.json

bin/js/
bin/res/atlas/
bin/res/mj/
bin/res/bg/

bin/res/createTable
bin/res/menu
bin/res/unpack.json
src/ui/layaUI.max.all.ts
bin/res/shisanshui
src/view/game/shisanshui
laya/pages/shisanshui
laya/assets/shisanshui
laya/assets/shanxi_mj
src/view/game/shanxi_mj
laya/assets/jinyun_mj
src/view/game/jinyun_mj
laya/assets/wakeng
laya/pages/wakeng
src/view/game/wakeng
bin/res/audio/jinyun_mj/
bin/res/audio/shanxi_mj/
bin/res/audioweb/jinyun_mj/
bin/res/audioweb/shanxi_mj/
bin/res/audio/wakeng/
bin/res/audioweb/wakeng/
bin/res/audioweb/shisanshui/
bin/res/audio/shisanshui/
bin/res/particle/

bin/res/gameIcon/
bin/res/matchSign/
bin/res/audio/jinyun_gs_mj/
src/view/game/jinyun_gs_mj/
laya/assets/jinyun_gs_mj/
bin/res/audio/jinyun_hz_mj/
laya/assets/jinyun_hz_mj/
src/view/game/jinyun_hz_mj/
bin/res/audioweb/jinyun_hz_mj/
bin/res/audio/shangqiu_mj/
bin/res/audioweb/shangqiu_mj/
bin/res/audioweb/jinyun_gs_mj/
laya/assets/shangqiu_mj/
src/view/game/shangqiu_mj/
laya/assets/guanpai/
laya/pages/guanpai/
src/view/game/guanpai/
laya/pages/shangqiu_mj/
bin/res/audio/guanpai/
bin/res/audioweb/guanpai/
bin/res/font_num_16/font_num_16.fnt
bin/res/font_num_17/font_num_17.fnt
laya/assets/font_num_16/font_num_16.fnt
laya/assets/font_num_16/font_num_16.png
laya/assets/font_num_17/font_num_17.fnt
laya/assets/font_num_17/font_num_17.png
bin/res/guanpai/
bin/res/guanpai/alarm.ani

